@{
    ViewData["Title"] = "Informações Técnicas";
}
<h1>@ViewData["Title"]</h1>

<p>O presente chat foi criado nas seguintes stacks</p>

<h2>Tecnologias:</h2>
<ul>
    <li>.Net 7</li>
    <li>SignalR</li>
    <li>Identity</li>
    <li>Solid</li>
    <li>Armazenamento na memória para usuários conectados</li>
</ul>
